.modal {
    background-color: rgb(223, 28, 28);
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    max-width:400px;
    height: 90px;
    right: 40px;
    top: 40px;
    transition: all 1.5s linear ;
  }